
/* Your CSS Code here. */.main-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.main-table th,
.main-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.nested-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.nested-table th,
.nested-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.black-cell {
  background-color: black;
  color: white;
  font-weight: bold;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}
