.main-table,
.nested-table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.main-table th,
.main-table td,
.nested-table th,
.nested-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.black-cell {
  background-color: black;
  color: white;
  font-weight: bold;
}

ul {
  padding-left: 20px;
  text-align: left;
}
